@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap");


body {
  font-family: ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: linear-gradient(180deg, #1d1d20 0%, #1d1d20 56.88%, #1d1d20 100%);
  margin: 0 auto;
  width: 100%;
  color: #1d1d20;
}

.ant-layout {
  font-family: "Red Hat Display", sans-serif;
  background: transparent;

}

.ant-layout-content {
  padding: 8rem;
  min-height: 90vh;
}


/*TYPOGRAPHy*/
.ant-typography {
  font-family: "Red Hat Display", sans-serif;
}

h1.ant-typography,
h2.ant-typography,
h3.ant-typography {
  color: #ffffff;
}

.app {
  margin: 0 auto;
  width: 100%;

}

@media screen and (max-width: 600px) {
  .ant-layout-content {
    padding: 4rem;
  }

}